# Pycache
__pycache__/

# Ignore changes in the data directories
dblp/
yelp
nyt/
arxiv/
exch/
aistack/
softwarestack/

# Intermediate text file
intermediate.txt

# Unzipped Autophrase directory
AutoPhrase0/
